# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Environment variables file
.env

# Pytest
.cache/
*.pytest_cache/

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Local config
*.local